body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5e9c7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p#texto {
    text-align: center;
    font-style: italic;
    color: #666;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select, button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #581111bb;
    color: #fff;
    cursor: pointer;
}

select {
    min-width: 150px;
}

button {
    min-width: 120px;
}

button:hover {
    background-color: #4d1111;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.cocktails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cocktail {
    margin: 10px;
    text-align: center;
}

.cocktail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.cocktail p {
    margin-top: 5px;
    font-size: 14px;
}
